@import "../../scss/base";

.header {
  color: $textColor;
  font-family: $primary;
  font-size: 9rem;
  font-weight: 100;
  line-height: 9rem;
  letter-spacing: 0.09rem;
}

.multiRowText {
  @extend .header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textRowColor {
  color: $brandBrickRed;
}