@import "../../scss/base";

.footerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 4rem 7.7rem 4rem;
}

.footerTopSectionContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10.2rem;
  width: 100%;
  border-bottom: 0.1rem solid $white;

}

.footerTopSectionText {
  color: $textColor;
  font-family: $secondary-font;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.footerTopSectionTitle {
  color: $brandGreen;
  font-family: $primary-font;
  font-size: 9rem;
  font-weight: 100;
  line-height: 9rem;
  letter-spacing: 0.09rem;
}

.footerSocialMediaContainer {
  display: flex;
  gap: 2rem;
  align-self: flex-end;
  padding-bottom: 1.4rem;
}

.socialMediaFooterItem {
  cursor: pointer;
}

.footerBottomSectionContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 8.2rem;
}

.footerBottomSectionText {
  margin-right: 11.5rem;
  max-width: 31.1rem;
  color: $textColor;
  font-family: $secondary-font;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.footerBottomSectionNavigationWrapper {
  display: flex;
  align-items: center;
}

.footerBottomSectionNavigation {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 11.8rem;
  column-gap: 11.8rem;
  row-gap: 2rem;
}