@import "colors";
@import 'mixins';


// font-sizes
$font-xl: 2rem;
$font-l: 1.6rem;
$font-m: 1.4rem;
$font-s: 1.2rem;


//spacing
$spacing-xs: 1.2rem;
$spacing-s: 1.6rem;
$spacing-m: 2.4rem;
$spacing-l: 3.2rem;

//fonts

$primary-font: 'Laviossa', sans-serif;
$secondary-font: 'Montserrat', sans-serif;