// Colors


$black: #000000;
$white: #FFFFFF;
$brandPurple: #662277;
$brandGreen: #70BAAE;
$brandBrickRed: #A24C37;
$headerHoverPurple: #D792E8;
$brandBackgroundColor: #010B09;
$textColor: #FCFCFC;
$circleColor: #ffffff66;