@import "../../scss/base";

.layoutBody {

  min-height: 100vh;
  display: flex;
  flex-direction: column;


  .contentLayout {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    padding-inline: 4rem;
  }
}